@using Newtonsoft.Json
@model PowerPointStressFeedbackWeb.Controllers.MergedData

@if (Model == null)
{
    <h1>No data, provide a session id</h1>
}
else
{
    <h1>Data from session id : @Model.SessionId</h1>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="info-container" style="padding:10px; border:1px solid #778899; border-radius: 3px">
        <header style="font-size: 20px">
            Information
        </header>
        <div style="color: #51B9FE">
            <span style="font-weight: bold; margin-right: 10px;">Relax heartbeat:</span><span id="relax-heartbeat"></span>
        </div>
        <div style="color: #ff9999">
            <span style="font-weight: bold; margin-right: 10px;">Small stress threshold (10%):</span><span id="stress1-heartbeat"></span>
        </div>
        <div style="color: #f20f0f">
            <span style="font-weight: bold; margin-right: 10px;">Small stress threshold (20%):</span><span id="stress2-heartbeat"></span>
        </div>
    </div>
    <script>
        @{
            var data = JsonConvert.SerializeObject(Model.Data);
        }
        var data = @Html.Raw(data);




        $(document).ready(
            function() {

                //Build 2 array. One for the average, one for the range
                var relaxedHeartBeat = 60;
                var heartBeatRange = [];
                var heartBeatAverage = [];
                var temperatureAverage = [];
                var gsrAverage = [];
                var slides = [];
                var stressZone = [];
                for(var i=0;i<data.length;i++)
                {
                    slides.push(data[i].SlideIndex);
                    heartBeatRange.push([data[i].HeartBeatMinimum, data[i].HeartBeatMaximum]);
                    heartBeatAverage.push(data[i].HeartBeatAverage);
                    temperatureAverage.push(data[i].Temperature);
                    gsrAverage.push(data[i].GsrAverage);
                    if(data[i].SlideIndex === 0)
                    {
                        relaxedHeartBeat = data[i].HeartBeatMinimum; //Relaxed Heart Beat is the minimum before the first slide
                    }
                    if(data[i].HeartBeatAverage>relaxedHeartBeat*1.2){ //Extreme stress
                        stressZone.push({value:data[i].SlideIndex, fillColor:'#f20f0f'});
                    }
                    else if(data[i].HeartBeatAverage>relaxedHeartBeat*1.1){ // More stressed
                        stressZone.push({value:data[i].SlideIndex, fillColor:'#ff9999'});
                    }
                    else{ //Relax
                        stressZone.push({value:data[i].SlideIndex, fillColor:'#51B9FE'});
                    }
                }
                $('#relax-heartbeat').text((relaxedHeartBeat).toFixed());
                $('#stress1-heartbeat').text((relaxedHeartBeat*1.1).toFixed());
                $('#stress2-heartbeat').text((relaxedHeartBeat*1.2).toFixed());
                //http://api.highcharts.com/highcharts#tooltip
                $('#container').highcharts({
                    chart: {
                        zoomType: 'xy',
                        alignTicks: true
                    },
                    title: {
                        text: 'Power Point Stress Feedback : Heart Beat and Skin Temperature'
                    },
                    xAxis: [{
                        categories: slides
                        ,title:  {
                            text: 'Slide number'
                        }
                    }],
                    yAxis: [{ // Primary yAxis
                            title: {
                                text: 'Heart Beat',
                                style: {
                                    color: '#19566b'
                                }
                            },
                            labels: {
                                format: '{value} bpm',
                                style: {
                                    color: '#19566b'
                                }
                            }
                        ,
                        min:50,
                        tickInterval:5
                    }, { // Secondary yAxis
                        title: {
                            text: 'Body Temperature',
                            style: {
                                color: 'rgba(255,155,0,1)'
                            }
                        },
                        labels: {
                            format: '{value} °C',
                            style: {
                                color: 'rgba(255,155,0,1)'
                            }
                        },
                        opposite: true,
                        min:25,
                        max:45,
                        tickInterval:0.5
                    }, { // Third yAxis (GSR)
                        title: {
                            text: 'Galvanic Skin Response (GSR)',
                            style: {
                                color: 'rgba(212,124,247,1)'
                            }
                        },
                        labels: {
                            format: '{value} Ω',
                            style: {
                                color: 'rgba(212,124,247,1)'
                            }
                        },
                        opposite: true
                    }],

                    tooltip: {
                        shared: true,
                        headerFormat: '<span style="font-weight:bold; font-size:16px; padding-bottom:5px;">Slide {point.key}</span><br/>'
                    },

                    series: [{
                        name: 'Body Temperature',
                        type: 'column',
                        yAxis: 1,
                        data: temperatureAverage,
                        color: 'rgba(255,155,0,0.3)',
                        tooltip: {
                        pointFormat: '<span style="font-weight: bold; color: rgba(255,155,0,1)">{series.name}</span>: <b>{point.y:.1f} °C</b><br/>'
                        }
                    }
                    , {
                        name: 'Heart Beat Average',
                        type: 'areaspline',
                        data: heartBeatAverage,
                        tooltip: {
                            pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y} bpm</b><br/>'
                        }
                        ,lineWidth: 5
                        ,zoneAxis: 'x'
                        ,zones: stressZone,
                        color:'#19566b'
                    }
                    , {
                        name: 'Heart Beat Min-Max',
                        type: 'errorbar',
                        data: heartBeatRange,
                        tooltip: {
                            pointFormat: '(Min-Max: {point.low}-{point.high} bpm)<br/>'
                        }
                    }
                    ,{
                        name: 'Galvanic Skin Response (GSR)',
                        type: 'line',
                        yAxis: 2,
                        data: gsrAverage,
                        color: 'rgba(212,124,247,0.8)',
                        tooltip: {
                            pointFormat: '<span style="font-weight: bold; color: rgba(212,124,247,1)">{series.name}</span>: <b>{point.y:.1f} Ω</b><br/>'
                        }
                        ,lineWidth: 2
                        ,dashStyle: 'ShortDash'
                    }]
                });

          
        });
    </script>
}

