@using Newtonsoft.Json
@model PowerPointStressFeedbackWeb.Controllers.MergedData

@if (Model == null)
{
    <h1>No data, provide a session id</h1>
}
else
{
    <h1>Data from session id : @Model.SessionId</h1>
    <script>
        @{
            var data = JsonConvert.SerializeObject(Model.Data);
        }
        var data = @Html.Raw(data);
    </script>
}

